
.container h2,h4,h3,p{
 color: black;
}
.container{

    margin: 25px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);

}
.content{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content delete{

background-color: white;

}


.pic {
    width: 100px;
    height: 100px;
    /* border-radius: 50%; */
    object-fit: cover;
}


